

*, *:before, *:after {
    -webkit-box-sizing: border-box; /* Needed for mobile WebKit */
    -moz-box-sizing: border-box; /* Needed for Firefox */
    box-sizing: border-box
}


html, body{
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
}



.mainContainerWrapper{
	width: 100%;
	height: 100%;
}

.header{
	width: 100%;
	height: 80px;
	background-color: #000;	
	color: #FFF;
	
}
header{
	margin: 0 auto;
	text-align: right;
	width: 800px;	
	
}
.headerName{
	font-weight: 100;
	font-size: 35px;
}
.headerTitle{
	font-size: 14px;
	font-weight: 700;
	display: block;
}

.menu{
	text-align: center;

}

.menu ul{
	margin: 0 auto;
	padding: 0;	
	width: 800px;
	height: 100%;

}

.menu li{
	cursor: pointer;	
	display: inline-block;
	width:15%;
	background-color: #FFF;
	border: 1px solid black;
	border-top: none;
	border-radius: 0 0 10px 10px;
}

.menu li:hover{
	background-color: #ccc;
}

.menu a{
	padding: 5px 0;
	display: block;
	color: #000;
	text-decoration: none;
}



.mobileMenu {	
	display: none;
	position: absolute;
	top:140px;
	width: 50%;
	z-index: 10000;
	overflow: hidden;
	border: 1px solid black;
	border-radius: 0 0 20px 0;
}

.mobileMenu ul{	
	padding: 0;
	margin: 0;	
	width: 100%;
	height: 100%;
}

.mobileMenu li{
	cursor: pointer;
	padding: 50px 0;
	display: block;
	width:100%;
	background-color: #FFF;
	border-bottom: 1px solid #000;
	border-radius:0;
}

.mobileMenu a{
	margin: 0 auto;
	display: block;
	font-size: 40px;
	width: 50%;
	text-align: left;
	text-decoration: none;
}


.mobileIcon{
	background-image: url('../images/mobilemenubutton.jpg');
	background-size: auto auto;
	background-clip: border-box;
	background-repeat: no-repeat;
	display: block;
	height:140px;
	width:140px;

}
.mobileMenuToggle{
	visibility: hidden;
	position: absolute;
	top:0;
	left: 0;
	z-index: 1100;
	width:140px;
	height:140px;
	background-color: #ccc;
	display: inline-block;

}

@media (max-width: 980px)  {
	.header{
		height: 140px;
		text-align: right;
		padding-right: 20px

	}
	header{
		display: inline-block;		
	}

	.headerName{
		font-weight: 100;
		font-size: 60px;
	}
	.headerTitle{
		font-size: 30px;
		font-weight: 700;
	}

	#Menu{
		display: none;
	}
	#MobileMenu{
		display: block;	
	}

	.mobileMenuToggle{
		visibility: visible;
	}
}





.content{
	margin: 0 auto;
	padding-top: 20px;
	max-width: 800px;
}

.dataBlockDisplay{
	border-radius: 20px ;
	border: 1px solid black;	
	position: relative;
	width: 800px;
	overflow: hidden;
	margin: 0;
	padding: 0;
}

.dataBlockDisplay.gigante {
  width: 200px;
  height: 200px;
}
	

.dataBlockDisplayImage{
	
	display: table-cell;
	line-height: 0;

}

.dataBlockDisplayText{
	display: table-cell;
	vertical-align: top;
	margin: 0;
	padding: 0;
	height:200px;
}


.work{
	background-color: #AAA;
}

.education{

	background-color: #CCC;

}

.projects{

	background-color: #EEE;

}

.displayBlock{
	display: block;

}

/* FONT WEIGHTS 
	Roboto 100, 300, 400, 700, 900
	
 */

.thin{
	font-weight: 100;
}

.light{
	font-weight: 300;
}
.medium{
	font-weight: 500;
}
.bold{
	font-weight: 700;
}
.boldest{
	font-weight: 900;
}

.size12{
	font-size: 12px;	
}

.size14{
	font-size: 14px;	
}